<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/testcss.css" />
</head>
<body>
    thymeleaf的用法
    <br />
    取值：<input type="text" th:value="${hello}"/>
    <br />
    循环：
    <input type="text" th:each="str:${list}"  th:value="${str}" />
    <div th:each="str:${list}">
    <input type="text"  th:value="${str}" />
    </div>
    <br />
    判断：
    <input type="text" th:if="${1==1}" th:value="${hello}"/>
    <input type="text" th:value="(${1==2})?1:2"/>
    <br />
    <div th:class="(${1==1})?'red':'green'"></div><br />
    js调用：<a th:href="'javascript:a(\''+${flag}+'\');'">点我</a>
     <br/>
    对象：
    <input type="text" th:value="${pmsSkuInfo?.skuName}"/>

<script language="JavaScript">
    function a(flag){
        alert(flag)
    }
</script>
</body>
</html>